In [1]:
import pandas as pd
import numpy as np

In [2]:
#read files
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train['source']='train'
test['source']='test'
data=pd.concat([train,test],ignore_index=1)
print(train.shape,test.shape,data.shape)

(8523, 13) (5681, 12) (14204, 13)

C:\Users\MY\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train

In [5]:
data.apply(lambda x:sum(x.isnull()))

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [6]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [7]:
data.apply(lambda x:len(x.unique()))

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3494
Item_Type                       16
Item_Visibility              13006
Item_Weight                    416
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      4
Outlet_Type                      4
source                           2
dtype: int64

In [8]:
data.dtypes

Item_Fat_Content              object
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type          object
Outlet_Size                   object
Outlet_Type                   object
source                        object
dtype: object

In [9]:
#filter categorical variables
categorical_columns=[x for x in data.dtypes.index if data.dtypes[x]=='object']

#exclude id cols and source
categorical_columns=[x for x in categorical_columns if x not in ['Item_Identifier','Outlet_Identifier','source']]

#print frequency of categories
for col in categorical_columns:
    print('\nFrequency of categories for variable %s'%col)
    print(data[col].value_counts())

Frequency of categories for variable Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

Frequency of categories for variable Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

Frequency of categories for variable Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Frequency of categories for variable Outlet_Size
Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Frequency of categories for variable Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

# 3.Data Cleaning

## imputing missing values

In [10]:
#Determing the average weight per item
item_avg_weight=data.pivot_table(values='Item_Weight',index='Item_Identifier')

#get a boolean variable specifying missing Item_weight values
miss_bool=data['Item_Weight'].isnull()

#impute data and check #missing values before and after imputation to confirm
print('Original #missing: %d'%sum(miss_bool))
data.loc[miss_bool,'Item_Weight']=data.loc[miss_bool,'Item_Identifier'].apply(lambda x:item_avg_weight.loc[x])
print('Final #missing: %d'% sum(data['Item_Weight'].isnull()))

Original #missing: 2439
Final #missing: 0

In [40]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit_transform(data['Outlet_Size'])[5]

TypeError: '<' not supported between instances of 'float' and 'str'

In [11]:
#currently not working
#Import mode function:
from scipy.stats import mode

#Determing the mode for each
outlet_size_mode = data.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x).mode[0]))
print('Mode for each Outlet_Type:')
print(outlet_size_mode)

#Get a boolean variable specifying missing Item_Weight values
miss_bool = data['Outlet_Size'].isnull() 

#Impute data and check #missing values before and after imputation to confirm
print('\nOrignal #missing: %d'% sum(miss_bool))
data.loc[miss_bool,'Outlet_Size'] = data.loc[miss_bool,'Outlet_Type'].apply(lambda x: outlet_size_mode[x])
print(sum(data['Outlet_Size'].isnull()))

C:\Users\MY\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

TypeError: '<' not supported between instances of 'str' and 'float'

# Feature Engineerin

In [18]:
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

### step 2 modify item visiblity

In [19]:
#determine avg visibility of a product
visibility_avg=data.pivot_table(values='Item_Visibility',index='Item_Identifier')

#impute 0 values with mean visibility of that product
miss_bool=(data['Item_Visibility']==0)

print('number of 0 values initially: %d'%sum(miss_bool))
data.loc[miss_bool,'Item_Visibility']=data.loc[miss_bool,'Item_Identifier'].apply(lambda x:visibility_avg.loc[x])                       
print('number of 0 values after modification: %d'%sum(data['Item_Visibility']==0))

number of 0 values initially: 879
number of 0 values after modification: 0

In [ ]:
#determine another variable with means ratop
data['Item_Visibility_MeanRatio'] = data.apply(
    lambda x: x['Item_Visibility'] / visibility_avg.loc[x['Item_Identifier']],
    axis=1)
print(data['Item_Visibility_MeanRatio'].describe())

In [20]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source,Item_Type_Combined
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train,Food
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train,Drinks
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train,Food
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.017834,19.20,1998,OUT010,Tier 3,NaN,Grocery Store,train,Food
4,Low Fat,NCD19,53.8614,994.7052,Household,0.009780,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train,Non-Consumable

### step 3 create a broad category of type of item

In [21]:
#get the first two characters of ID
data['Item_Type_Combined']=data['Item_Identifier'].apply(lambda x:x[:2])

#rename them to more intuitive categories
data['Item_Type_Combined']=data['Item_Type_Combined'].map({'FD':'Food',
                                                          'NC':'Non-Consumable',
                                                          'DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

### step4 determine the years of operation of a store

In [22]:
#years
data['Outlet_Years']=2013-data['Outlet_Establishment_Year']
data['Outlet_Years'].describe()

count    14204.000000
mean        15.169319
std          8.371664
min          4.000000
25%          9.000000
50%         14.000000
75%         26.000000
max         28.000000
Name: Outlet_Years, dtype: float64

### step5 modify categories of item_fat_content

In [23]:
#change categories of low fat
print('original categories')
print(data['Item_Fat_Content'].value_counts())

print('\nModified Categories')
data['Item_Fat_Content']=data['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                           'reg':'Regular',
                                                           'low fat':'Low Fat'})
print(data['Item_Fat_Content'].value_counts())

original categories
Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

Modified Categories
Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [24]:
#mark non_consumables as separate category in low_fat
data.loc[data['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
data['Item_Fat_Content'].value_counts()

Low Fat       6499
Regular       5019
Non-Edible    2686
Name: Item_Fat_Content, dtype: int64

In [44]:
#import library
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
#new variable for outlet
data['Outlet']=le.fit_transform(data['Outlet_Identifier'])
var_mod=['Item_Fat_Content','Outlet_Location_Type','Outlet_Size','Item_Type_Combined','Outlet_Type','Outlet']
le=LabelEncoder()
data['Outlet_Size']=le.fit_transform(data['Outlet_Size'])
# le=LabelEncoder()
# for i in var_mod:
#     data[i]=le.fit_transform(data[i])

TypeError: '<' not supported between instances of 'float' and 'str'

In [47]:
le=LabelEncoder()
le.fit_transform(data['Item_Type_Combined'])

array([1, 0, 1, ..., 2, 1, 1], dtype=int64)

In [46]:
data['Item_Type_Combined'].head()

0              Food
1            Drinks
2              Food
3              Food
4    Non-Consumable
Name: Item_Type_Combined, dtype: object

In [32]:
data['Outlet'].head()

0    9
1    3
2    9
3    0
4    1
Name: Outlet, dtype: int64

In [49]:
data.apply(lambda x:sum(x.isnull()))

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
Item_Type_Combined              0
Outlet_Years                    0
Outlet                          0
dtype: int64